<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger table-header">
            <div>
              <h4 class="card-title">Table of products</h4>
              <p class="card-category">Add, Edit and delete products</p>
            </div>
            <dx-text-box
              #searchBox
              id="text-input"
              class="search-box"
              placeholder="Search..."
              valueChangeEvent="keyup"
              (onValueChanged)="onChange$.next($event)"
            ></dx-text-box>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>Title</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Discount</th>
                  <th>Stock</th>
                  <th>Brand</th>
                  <th>Actions</th>
                </thead>
                <tbody *ngFor="let product of filteredProducts">
                  <tr>
                    <td>{{ product?.title }}</td>
                    <td>{{ product?.description }}</td>
                    <td>{{ product?.price }}€</td>
                    <td>
                      {{
                        (
                          (product?.discountPercentage * product.price) /
                          100
                        ).toFixed(2)
                      }}€
                    </td>
                    <td class="text-primary">{{ product?.stock }}</td>
                    <td>{{ product?.brand }}</td>
                    <td>
                      <div class="action-wrapper">
                        <div
                          class="dx-link dx-icon-edit action-icon"
                          (click)="editProduct(product?.id)"
                        ></div>
                        <div
                          class="dx-link dx-icon-trash action-icon"
                          (click)="deleteProduct(product?.id, product?.title)"
                        ></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-edit-products-popup
  *ngIf="showEditPopup"
  (closed)="closeEditPopup()"
  (canceled)="closeEditPopup()"
  (confirmed)="confirmEditPopup()"
  [productData]="editProductData"
></app-edit-products-popup>
