<div class="main-content">
  <div class="search-box-wrapper">
    <dx-number-box
      #searchBox
      width="25%"
      id="text-input"
      class="search-box"
      placeholder="Search by user ID.."
      [value]="null"
      valueChangeEvent="keyup"
      (onValueChanged)="onChange$.next($event)"
    ></dx-number-box>
  </div>
  <div class="carts-wrapper">
    <div
      class="cart-wrapper card"
      *ngFor="let cart of filteredCarts"
      (click)="cartClicked(cart.id)"
    >
      <div class="fa-solid fa-cart-shopping cart"></div>
      <div>
        <h6 class="card-title">User id: {{ cart.userId }}</h6>
        <h6 class="card-title">Total products: {{ cart.totalProducts }}</h6>
        <h6 class="card-title">Total: {{ cart.total }}</h6>
      </div>
    </div>
  </div>
</div>
<app-cart-products-popup
  *ngIf="showPopup"
  [cartId]="popupCartId"
  (closed)="closePopup()"
  (confirmed)="closePopup()"
  (canceled)="popupConfirmed()"
></app-cart-products-popup>
